.App {
  text-align: center;
}
.btnNewTodo{
  background: rgb(209, 180, 180);
  width: 80px;
  height: 40px;
  border: 2px  ;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 4px;
  align-items: center;
  justify-items: center;
  font-size: 16px;
  cursor: pointer;

  /* padding-left: 10px; */
}
.headerContainer{
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-items: center;
  /* background-color: rgb(255, 0, 64); */
  margin: 0 auto;
}

.addTodoContainer{
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  align-items: center;
  justify-items: center;
  /* background-color: aqua; */
  
}
.btnNewTodo:hover{
  background: rgb(190, 140, 140);
}
.btnNewTodo:active{
  background: rgb(199, 115, 115);
}
.custom-icon{
  padding-left: 10px;
  padding-right: 5px;
}
.boxAddTodo:focus{
    outline: none;
    /* border: 3px solid rgb(196, 128, 169); */
    border-radius: 2px;
    padding: 12px;
    /* color: red; */
    border : none;
    border-bottom: 2px solid blue;
}
.boxAddTodo{
  border: none;
  outline: none;
  padding: 12px;
  /* border-radius: 12px;*/
  border-bottom: 2px solid blue;
  margin-left: 10px;
}