.App {
  text-align: center;
}
.btnNewTodo{
  background: rgb(223, 165, 165);
  width: 80px;
  height: 40px;
  border: 2px  ;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 4px;
  align-items: center;
  justify-items: center;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 6px #999;

  /* padding-left: 10px; */
}
.headerContainer{
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-items: center;
  
  /* background-color: rgb(255, 0, 64); */
  margin: 0 auto;
}

.addTodoContainer{
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  align-items: center;
  justify-items: center;
  /* background-color: aqua; */
  
}
.btnNewTodo:hover{
  background: rgb(190, 140, 140);
}
.btnNewTodo:active{
  background: rgb(199, 115, 115);
  transform: translateY(2px);
  box-shadow: 0 5px #666;
  
}
.custom-icon{
  padding-left: 12px;
  padding-right: 7px;
}
.boxAddTodo:hover{
  background-color: rgb(167, 165, 165);
}
.boxAddTodo:focus{
    outline: none;
    border-radius: 2px;
    padding: 12px;
    padding-right: 10px;
    border : none;
    border-bottom: 2px solid blue;
    background-color: rgb(192, 192, 192);
}
.boxAddTodo{
  height: 20px;
  border: none;
  outline: none;
  padding: 12px;
  padding-right: 2px;
  border-bottom: 2px solid blue;
  margin-left: 10px;
}
.custom-icon-pencil{
  padding-left: 12px;
  padding-right: 2px;
}
.delStyle {
  background: rgb(221, 198, 214);
  width: 46px;
  height: 40px;
  /* padding-left: 20px;
  padding-right: 20px; */
  /* padding-top: 1; */
  
  border: none;
}
.delStyle:hover {
  background: rgb(192, 125, 170);
  width: 46px;
  height: 40px;
  /* padding-left: 20px;
  padding-right: 20px; */
  border: none;
  
}
.delStyle-icon{
  padding-left: 8px;
  padding-right: 8px;
  border: 2px;
  border-radius: 10px;
}
.inputNewTodo{
  width: 100px;
  word-wrap: break-word;
  font-size: 20px;
  font-style: italic;
  color: rgb(8, 8, 8);
}
.checkbox{
  
}
.headerStyle{
  background : #333;
  color:#fff;
  text-align: center;
  padding: 10px;
}
